/* Google font work sense */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.title{
   

font-size: 3rem;
color: #0B0223;
font-weight: 700;

}
.text{
    color: #3C354F;


font-size: 1.02rem;

font-weight: 500;

}
.pink-btn{

color: #FFF;
padding: 21px 40px;
font-size: 1.2rem;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
font-weight: 600;

border: none;
}
.blue-btn{
    color: #FFF;
padding: 21px 40px;
font-size: 1.2rem;
border-radius: 48px;
font-weight: 600;
background: #4EC5F7;
border: none;
margin-left: 24px;
}
.pink{
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* nav */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 240px;
   
}
.link-section>ul>li> a{
    margin-right: 32px;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
}
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section h1{
    margin-left: 20px;
}
.link-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow{
    display: flex;
   margin-left: 32px; 
flex-shrink: 0;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 17px 24px;
}
.follow p{
    margin-left: 32px;
    margin-right: 24px;
}
.follow>a{
    margin-right: 16px;
   
}
.fa-youtube{
    color:red;
}
.fa-tiktok{
    color: #3C354F;
}

/* Banner section */
.banner-section{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: linear-gradient(235deg, rgba(140, 87, 238, 0.03) 3.9%, rgba(241, 68, 174, 0.03) 100.56%);
    
}
.banner-text{
    padding: 148px 240px;
    margin-right: 68px;
   
}
.banner-text p{
    margin-bottom: 17px;
}
.goat-text{
   
font-size: 6rem;

font-weight: 800;

background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-bottom: 24px;
}
.banner-text button{
    margin-top: 41px;
}

/* Responsive screen  */

@media screen and (max-width:576px) {
   
    .navbar,.link-section,.navbar ul,.banner-section{
        flex-direction: column;
    }
    .navbar{
        padding: 20px;
    }
    .link-section>ul>li> a,.follow{
        margin: 10px 0;
    }
    .banner-section{

        justify-content: center;
        align-items: center;
       
    }
    .banner-text{
        padding: 20px;
        text-align: center;
    }
    .banner-img img{
        width: 100%;
    }
    
    
}

/* tablet responsive */
@media screen and (min-width:577px) and (max-width:991px) {
    .navbar{
        padding: 20px;
        align-items: center;
    }
    .logo-section h1{
        font-size: 1.5rem;
    }
    .logo-section img{
        width: 50%;
    }
    .link-section>ul>li> a{
        margin-left: 10px;
        white-space: nowrap;
        
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-text{
        text-align: center;
        padding: 20px;
    }
   
}